.cloud-container {
  position: fixed; /* Tło jest zawsze w oknie przeglądarki */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Bardzo ważne: chmury są POD treścią strony */
  pointer-events: none; /* Kliknięcia przenikają przez chmury */
  overflow: hidden;
}

/* Baza kształtu chmury */
.cloud {
  background: #fff;
  background: linear-gradient(to bottom, #fff 5%, #f1f1f1 100%);
  border-radius: 50px;
  position: absolute;
  opacity: 0.8;
}

/* Dodajemy "bąbelki" do chmury używając pseudoelementów */
.cloud::after, .cloud::before {
  content: '';
  position: absolute;
  background: inherit;
  border-radius: 50%;
}

.cloud::after {
  width: 50px;
  height: 50px;
  top: -25px;
  left: 25px;
}

.cloud::before {
  width: 70px;
  height: 70px;
  top: -35px;
  right: 25px;
}

/* --- POZYCJONOWANIE CHMUR --- */

/* Chmura 1 (lewa góra) */
.cloud-1 {
  width: 180px;
  height: 60px;
  top: 15%;
  left: 5%;
  opacity: 0.6;
}

/* Chmura 2 (prawa góra) */
.cloud-2 {
  width: 250px;
  height: 80px;
  top: 25%;
  right: -50px; /* Lekko wystaje */
  opacity: 0.7;
}

/* Chmura 3 (lewy dół) */
.cloud-3 {
  width: 300px;
  height: 100px;
  top: 60%;
  left: -80px;
  opacity: 0.4;
  transform: scale(0.8);
}

/* Chmura 4 (prawy środek) */
.cloud-4 {
  width: 150px;
  height: 50px;
  top: 80%;
  right: 15%;
  opacity: 0.5;
}

/* Responsywność - mniejsze chmury na telefonie */
@media (max-width: 768px) {
  .cloud { transform: scale(0.6); }
}